name: Snyk Security  
  
on:  
  push:  
    branches: ["main"]  
  pull_request:  
    branches: ["main"]  
  
permissions:  
  contents: read  
  
jobs:  
  snyk:  
    permissions:  
      contents: read  
      security-events: write  
      actions: read  
    runs-on: ubuntu-latest  
    steps:  
      - uses: actions/checkout@v4  
        
      - name: Set up Node.js  
        uses: actions/setup-node@v4  
        with:  
          node-version: '20'  
          cache: 'npm'  
          cache-dependency-path: './backend/package-lock.json'  
            
      - name: Install dependencies  
        run: |  
          cd backend  
          npm ci  
            
      - name: Set up Snyk CLI  
        uses: snyk/actions/setup@806182742461562b67788a64410098c9d9b96adb  
        env:  
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}  
            
      - name: Snyk Code test  
        run: |  
          cd backend  
          snyk code test --sarif=../snyk-code.sarif || true  
            
      - name: Snyk Open Source monitor  
        run: |  
          cd backend  
          snyk monitor --all-projects
          
            
      - name: Upload result to GitHub Code Scanning  
        uses: github/codeql-action/upload-sarif@v3  
        with:  
          sarif_file: snyk-code.sarif